/* // $brand-white: #ffffff;
// $brand-black: #262626;
// $brand-peach: #ffbe98;
// $brand-lilac: #9b8e9c;
// $brand-beige: #f0e2d2;

// $screen-xs: 480px;
// $screen-xs-min: $screen-xs;
// $screen-sm: 768px;
// $screen-sm-min: $screen-sm;
// $screen-md: 1001px;
// $screen-md-min: $screen-md;
// $screen-lg: 1200px;
// $screen-lg-min: $screen-lg;
// $screen-xl: 1440px;
// $screen-xl-min: $screen-xl;

// $screen-xs-max: ($screen-sm-min - 1);
// $screen-sm-max: ($screen-md-min - 1);
// $screen-md-max: ($screen-lg-min - 1);
// $screen-lg-max: ($screen-xl-min - 1); */

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0; padding: 0;
}

body {
  background-color: #fff;
}

body,
body * {
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-style: normal;
}
  
.bg-peach {
  color: #fff;
  background: rgb(255,190,152);
}

.bg-lilac {
  color: #fff;
  background: #9b8e9c;
}

.box-shadow {
  -webkit-box-shadow: 8px 8px 24px -10px rgba(130, 130, 130, 1);
  -moz-box-shadow: 8px 8px 24px -10px rgba(130, 130, 130, 1);
  box-shadow: 8px 8px 24px -10px rgba(130, 130, 130, 1);
}

.row-down {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.scroll-down {
  font-size: 1.5rem;
}

.home-image {
  max-width: 100%;
  height: 50vh;
  object-fit: contain;
}

.home-container {
  padding-top: 20vh;
  background: #9b8e9c;
  min-height: 100vh;
}

.home-cta {
  padding-bottom: 10vh;
}

.artists-cta {
  margin: 30px 0;
}

.artists-container {
  padding-top: 10vh;
  color: #262626;
}

.artists-container *,
.address-container * {
  color: #262626;
}

.artist-link,
.merch-link {
  max-width: 100%;
}

.artist-link figure,
.merch-link figure {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.artist-link:hover,
.artist-link:focus,
.merch-link:hover,
.merch-link:focus {
  text-decoration: none;
}

.artist-link:hover .artist-image,
.artist-link figure:hover img,
.merch-link:hover .merch-image,
.merch-link figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.artist-image,
.merch-image {
  max-width: 100%;
  width: 100%;
  height: 70vh;
  object-fit: cover;

  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.merch-image {
  height: 50vh;
}

.artist-name {
  font-size: 1.5rem;
  padding: 20px 0;
  display: block;
  line-height: 1;
}

.artist-column,
.merch-column {
  margin-bottom: 40px;
}

.merch-name {
  font-size: 1.5rem;
  padding: 10px 0;
  display: block;
  line-height: 1;
}

.merch-container {
  padding-top: 10vh;
  min-height: 20vh;
  background-repeat: repeat;
  background-color: #9b8e9c;
  background-image: url("https://artgrupa.net/assets/images/clean-textile.png");
}

.merch-cta {
  font-size: 2rem;
  line-height: 1;
}

.contact-container {
  padding-top: 10vh;
  background: #9b8e9c;
  background: linear-gradient(180deg, rgba(178,169,179,1) 0%, rgba(155,142,156,1) 100%);
  min-height: 70vh;
}

.contact-cta {
  font-size: 2rem;
  line-height: 1;
}

.contact-name {
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-name {
    margin: 0 20px;
  }
}

.address-row {
  margin-top: 30px;
}

.address-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
